.comment-sub {
    overflow: hidden;
}

.collapse-button {
    margin-top: 5px;
    aspect-ratio: 1/1;
    background-image: url('chrome-extension://__MSG_@@extension_id__/res/arrow.png');
    background-size: contain;
}

.collapse-button:hover {
    background-image: url('chrome-extension://__MSG_@@extension_id__/res/arrow_hover.png');
}

@supports (-moz-appearance:none) {
    .collapse-button {
        background-image: url('/res/arrow.png');
    }

    .collapse-button:hover {
        background-image: url('/res/arrow_hover.png');
    }
}

.read-more {
    overflow: hidden;
}
.comment-reply {
    overflow: hidden;
}
.comment-media {
    overflow: hidden;
}
