:root {
    --animation-speed: 0.08s;
    --animation-type: linear;

}

.comment-sub {
    transition: max-height var(--animation-speed) var(--animation-type);
    overflow: hidden;
}

.collapse-button {
    margin-top: 13px;
    transition: transform var(--animation-speed) var(--animation-type);
}
